@import "tailwindcss";

@theme {
	--color-sabs-gradient-1: #85527e;
	--color-sabs-gradient-2: #754974;
	--color-sabs-gradient-3: #3d2845;

	--color-sabs-primary: #7373b4;
}

html,
body {
	scroll-snap-type: y mandatory;
}

* {
	scroll-behavior: smooth;
}

.grecaptcha-badge {
	/* biome-ignore lint/complexity/noImportantStyles: Used to replace the google style */
	visibility: hidden !important;
}

@keyframes fadeInScale {
	0% {
		opacity: 0;
		transform: scale(0.8);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* Transitions pour le système d'authentification */
.fade-in {
	animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
	animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-10px);
	}
}
